**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/env/
include/
lib/
bin/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
.git/
.gitignore
.dockerignore
Dockerfile
.env
**/*.joblib
**/*.pkl
.DS_Store
test.db
